

.products__heading, .add-products__heading
{
  font-weight: bold;
  font-size: 2rem;
}

.products__product-change__delete
{
  width: 120px;
}
.form-label
{
  width: 1000px;
}

.add-products__form > .add-products__form__dvd, .add-products__form > .add-products__form__book, .add-products__form > #furnitureForm
{
  display: none;
}

.delete-checkbox > input
{
  border: 2px solid black;
}
#sku-uniqueness-label
{
  display: none;
  color: red;
  font-weight: bold;
  font-size: 2rem;
}
.products__product-change__delete
{
  width: 130px;
}